{% extends "base.html" %}


{% block title %}
    Privacy Notice - Metamon Manager
{% endblock %}


{% block metatags %}
<meta name="description" content="Privacy Notice.">
{% endblock %}


{% block content %}
    <div class="container d-flex flex-wrap" id="main-coin">
        <div class="py-3 px-3 my-3 container text-center">
            <h1 class="display-3 fw-bold">Imprint</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="bold"> Responsable </h2>

                <p> Jannik Vogel<br>
                    Lessingstr 39<br>
                    69115 Heidelberg<br>
                    Germany
                </p>
                <p> Email: <a class="btn btn-success inline-button" href="mailto:jannikatmetamon-manager.com">jannikatmetamon-manager.com</a></p>

                <h2> Disclaimer </h2>

                <p> The results of using Metamon Manager are random, just like the results playing manually on Metamon
                    Island are random.</p>

                <p> Metamon Manager plays your Metamons automatically on Metamon Island. I am not liable for potential loss
                    that may occur by using the website. </p>
            </div>
        </div>
    </div>
{% endblock %}