{% extends "base.html" %}


{% block title %}
    Privacy Notice - Metamon Manager
{% endblock %}


{% block metatags %}
<meta name="description" content="Privacy Notice.">
{% endblock %}


{% block content %}
    <div class="container d-flex flex-wrap" id="main-coin">
        <div class="py-3 px-3 my-3 container text-center">
            <h1 class="display-3 fw-bold">Privacy Notice</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <p> This privacy policy will explain how Metamon Manager uses the personal data that is collected when
                    you use the website. It is intended to comply with the GDPR laws of the EU. </p>

                <h3 class="bold"> Which data is collected and why? </h3>

                <p> Data on your Metamons (ID, rarity, power, metamon level, experience, league level) and
                battles (date and time, wallet, metamon id, number of battles, number of battles won, won egg fragments,
                league level, metamon level) are saved to provide the users statistics. If you don't want this data
                to be collected, uncheck the field "Collect statistics" and this data is not saved! </p>

                <p> Metamon Manager collects data about the visits to the website in server log files. They are intended
                    to monitor the functioning of the website. This data is (and cannot be) assigned
                    to a specific person. The data consists of: </p>
                <ul>
                    <li> Date and time of request </li>
                    <li> URL of request </li>
                    <li> Used browser and operating system </li>
                    <li> IP address of the user </li>
                </ul>

                <p> If you contact me via email, it is stored to resolve your specific issue. </p>

                <p> To monitor the number of users of the website and their behaviour, I use Google Analytics. It is
                intended to improve the services on the website. Google Analytics uses cookies. Information about the
                    usage of the website are collected and reported by Google. When using Google Analytics, IP addresses
                    of the users are anonymized. Google is certified under <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">Privacy Shield</a>.
                </p>

                <p> To monetize some of the traffic to the website, <a href="https://a-ads.com/">A Ads</a> is used. They
                    set cookies to analyze returning visitors to the website. </p>


                <h3 class="bold"> How is your data stored and when is it deleted? </h3>

                <p> The website stores your data securely  at a data center of Linode in Tokyo, Japan. The newest
                    Transport Layer Security (TLS) cryptographic protocols are used to transfer your data securely and
                    to restrict access to your data. </p>

                <p> Metamon Manager will keep the server logs and emails for 3 months. Once this time period has expired,
                    we will delete your data. If you would like to have your (non-personal) game
                    data deleted, please write me an email. </p>


                <h3 class="bold"> What are your data protection rights? </h3>

                <p>Every user is entitled to the following:</p>
                <ul>
                    <li> <b>The right to access:</b> You have the right to request for copies of your personal data. We
                        may charge you a small fee for this service. </li>
                    <li> <b>The right to rectification:</b> You have the right to request that we correct any information
                        you believe is inaccurate. You also have the right to request to complete the information you
                        believe is incomplete. </li>
                    <li> <b>The right to erasure:</b> You have the right to request that we erase your personal data,
                        under certain conditions. </li>
                    <li> <b>The right to restrict processing:</b> You have the right to request that we restrict the
                        processing of your personal data, under certain conditions. </li>
                    <li> <b>The right to object to processing:</b> You have the right to object to the processing of
                        your personal data, under certain conditions. </li>
                    <li> <b>The right to data portability:</b> You have the right to request that we transfer the data
                        that we have collected to another organization, or directly to you, under certain conditions. </li>
                    <li> </li>
                </ul>

                <p> If you make a request, I have one month to respond to you. If you would like to exercise any of
                    these rights, please contact me via email. </p>


                <h3 class="bold"> What are your contact details? </h3>
                <p> Jannik Vogel<br>
                    Lessingstr 39<br>
                    69115 Heidelberg<br>
                    Germany
                </p>
                <p> Email: <a class="btn btn-success inline-button" href="mailto:jannikatmetamon-manager.com">jannikatmetamon-manager.com</a></p>
            </div>
        </div>
    </div>
{% endblock %}